<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ title }}</h1>
      <input type="text" [(ngModel)]="title" />
      <p>Input your name:</p>
      <input type="text" [(ngModel)]="name" />
      <p>{{ name }}</p>
      <app-servers></app-servers>
      <button class="btn btn-primary" (click)="onTogglePassword()">
        Toggle Password
      </button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      <div *ngFor="let logItem of log">{{ logItem }}</div>
    </div>
  </div>
</div>
